.about {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container-about-title {
  @include font(700, 28px, 33px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and(min-width:1200px) {
    margin-bottom: 50px;
    @include font(700, 36px, 42px);
  }
}
.about-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
  }
}

.about-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  margin-bottom: 30px;
  width: 100%;

  // @media screen and (min-width: 480px) {
  //   width: 450px;
  // }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
    // width: 354px;
  }

  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 4 - 30px);
    // width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .about-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .about-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    width: 270px;
  }
}
.about-list__img {
  margin: 0 auto;
}

.about-border {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-border__title {
  @include font(500, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}
.about-border__text {
  @include font(400, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.icons-about {
  display: flex;
  justify-content: center;
}
.icons-about__item {
  width: 44px;
  height: 44px;
  display: flex;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icons-about__svg {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.icons-about__link {
  @extend %icons;
  transition-property: color, background-color;
  color: #afb1b8;
  background-color: #ffffff;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
