

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-logos {
  margin-right: 70px;
}

.footer-logos__link {
@extend %logo;
display: block;
  margin-bottom: 20px;

}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__adress-link {
  @include font(400, 14px, 24px);
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--other-color);
  &:hover,
  &:focus{
    color: grey;
  }
  display: block;
}
.footer-list__link {
  @include font(400, 14px, 24px);
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus{
    color: grey;
  }
}



.footer-icons__title{
  @include font(700, 14px, 16px);
  text-transform: uppercase;
  color: var(--other-color);
  display: block;
  margin-bottom: 20px;
  font-style: normal;
}

.footer-icons-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-icons-list__sotial:not(:last-child) {
    margin-right: 10px;
}

.footer-icons-list__link {
  @extend %icons;
  transition-property: background-color;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus{
    background-color: var(--accent-color);
  }
}


.footer-icons-list__svg {
  fill: var(--other-color);
  width: 20px;
  height: 20px;
}



.footer-form {
  display: flex;
  justify-content: flex-end;
  margin-left: 93px;
  flex-grow: 1;
}
.footer-form__text {
  @include font(700, 14px, 16px);
  color: var(--other-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-form__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  @include font(400, 16px, 20px);
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  outline: none;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer-form-btn {
 @extend %btn;
  }


.footer-form-btn__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: -6px;
}
