.pre-about {
  padding-bottom: 94px;
}
.pre-about-list {
  display: flex;
}


.pre-about__title {
  @include font(700, 36px, 42px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

.pre-about-list__item {
  position: relative;
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
.pre-about-div__text{
  @include font(700, 14px, 16px);
  color: var(--other-color);

  text-transform: uppercase;
  text-align: center;
}

.pre-about-div {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}